@tailwind base;
@tailwind components;
@tailwind utilities;

th,
tr {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: aqua;
}